.box {
  display: flex;
  flex-flow: column;
  align-items: center;
  border-width: 1px;
  border-color: rgba($color: #000000, $alpha: 0.3);
  border-style: dashed;
  border-radius: 0.4em;
  padding: 1em;
  font-weight: 100;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.233);
  }
  margin-bottom: 8px;
}

.darkBox {
  border-color: rgba($color: #cfcfcf, $alpha: 0.3);

  .label {
    color: white;
    .upload-button {
      &:hover {
        color: rgb(0, 135, 213);
      }
    }
  }
}

.label {
  color: #000000;
  .upload-button {
    text-decoration: underline;
    &:hover {
      color: rgb(0, 87, 138);
    }
  }
}

.image {
  width: 100%;
}